footer.page-footer.light-green.darken-2
    .container
        .row
            
            .col.l4.offset-l8.s12
                h5.white-text Links
                ul
                    li
                        a.grey-text.text-lighten-3(href="/") Inicio
                    li
                        a.grey-text.text-lighten-3(href="/nueva_receta") Agregar receta
    .footer-copyright.light-green.darken-3
        .container
            | #{nombreSitio} #{currentYear} Copyright