header
    nav.light-green.darken-2.px10
        .nav-wrapper
            a.brand-logo(href="/") #{nombreSitio}
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a(href="/") Inicio
                li
                    a(href="/recetas") Recetas
                li
                    a(href="/nueva_receta") Agregar receta